<div class='app-footer'>
  <span>Used technologies:</span>
  <div class='app-footer__images'>
    <a href='https://www.docker.com' target='_blank'>
      <img
        class='docker-logo'
        src='/public/images/docker-logo.png'
        alt='Docker Logo'
      />
    </a>
    <a href='https://nodejs.org' target='_blank'>
      <img
        class='nodejs-logo'
        src='/public/images/nodejs-logo.png'
        alt='NodeJS Logo'
      />
    </a>
    <a href='https://nginx.org' target='_blank'>

      <img
        class='nginx-logo'
        src='/public/images/nginx-logo.png'
        alt='NodeJS Logo'
      />
    </a>
  </div>
  <div class='app-footer__description'>
    <a
      href='https://github.com/sergeyyarkov/node-docker-example'
      target='_blank'
    >GitHub</a>
  </div>
</div>