body {
  font-family: monospace;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  max-width: 900px;
  font-size: 16px;
  padding: 15px;
}

.app .app-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app .app-tag {
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  border-radius: 2px;
  font-size: 18px;
  user-select: none;
}

.app .article-heading {
  display: block;
}

.app .app-body article {
  margin-top: 2rem;
  line-height: 1.3rem;
}

.app .app-footer {
  text-align: center;
}

.app .app-footer .app-footer__images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.app .app-footer {
  margin-top: 2rem;
  text-align: left;
}

.app .app-footer span {
  display: block;
  margin-bottom: 1rem;
}

.app .app-footer img {
  width: 11rem;
  margin: 10px 30px;
}

.app .app-footer .nodejs-logo,
.app .app-footer .nginx-logo {
  width: 7rem;
}

.app .app-footer__description {
  margin-top: 1rem;
  text-align: center;
}
